* {
    /* border: 2px solid red; */
}

body {
    font-family: roboto sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* overflow-x: hidden; Stop side scrolling. */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 600;
    margin-left: 180px;
    
}

ul {
    display: flex;
    gap: 16px;
    margin-right: 180px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* section one styling */
.section-1 {
    background-color: #1f2937;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0;
}

.main-text {
    display: flex;
    flex-direction: column;
    margin: 0 195px 0 195px;
}
    

h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: 0;
}

.main-text p {
    color: #e5e7eb;
    margin-top: 0;
    margin-bottom: 0;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    cursor: pointer;
    padding: 8px 30px;
    text-align: center;
    border-radius: 6px;
    border: none;
    margin: 0;
}

.signup {
    margin-top: 5px;
    width: fit-content;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(147, 146, 146);
    padding: 50px 120px 50px 120px;
    margin-left: 50px;
}

/* section-2 */
h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

}

.img-placeholder {
    height: 130px;
    width: 130px;
    align-items: center;
    border: rgb(84, 84, 255) solid 3px;
    border-radius: 10%;
}

.img-container  p {
    color: black;
    text-align: center;
}

/* section 3 - Quote section */

.section-3 {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.section-3 p {
    padding: 100px 50px 100px 50px;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.section-3 strong {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    font-style: normal;
    font-size: 25px;
}

/* Section-4 */

.section-4-sign-ups {
    background-color: #3882F6 ;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}

.sign-item {
    flex: 1;
}

.sign-text {
    text-align: left;
}

.sign-text p {
    color: #fff;
    opacity: 0.7;
    margin: 5px 30px 30px 50px;
    padding: auto;
}

h4 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

.sign-item-sign-button > * {
    color: #fff;
    font-family: 'Roboto', arial;
    border: #fff solid 1px;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
    /* margin-left: 240px; */
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.footer > * {
    padding: 20px;
    color: white
}

